<div class='login'>
  <div class='row'>
    <div class="login-text col-sm-6">
      <h1>Welcome to ngChat</h1>
      <p>
        ngChat allows for multiple private group chats per user, all updated in real time. It's just a small project for now, but you never know what it might become.
      </p>
      <p>
        Sign up on the right! If you're joining a group, enter the group-code that was sent to you! Otherwise, just fill out your display name and hit "Create New Group"!
      </p>
    </div>
    <app-login-form class='col-sm-6'></app-login-form>
  </div>
</div>
